{
  "ConnectionStrings": {
    "bottomsport": "Server=localhost;Database=bottomsport;Uid=root;Pwd=;"
  },
  "Stripe": {
    "SecretKey": "",
    "PublishableKey": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
